<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="container-fluid sidebar">

            <div class="row">
              <div class="col-md-2 col-sm-12">
                <nav class="sidebar">

                <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                 <li class="active"><%= link_to("后台管理", admin_jobs_path ) %> </li>
                 <li> <%= link_to("新增职位", new_admin_job_path ) %></li>
                 <li>
                     <%= link_to("返回职位", jobs_path)%>
                 </li>
                </ul>
                </nav>
              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
